name: nans
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 4.0.0

environment:
  sdk: '>=2.19.6 <3.0.0'

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  #ui
  provider: ^6.0.5
  flutter_svg: ^2.0.5
  smooth_page_indicator: ^1.1.0
  sliding_sheet: ^0.5.2
  easy_localization:
  flutter_local_notifications: ^14.0.0+1
  uni_links: ^0.5.1
  flutter_screenutil: ^5.7.0
  cached_network_image: ^3.2.3
  get_it: ^7.3.0
  intl:
  flutter_keyboard_visibility: ^5.4.1
  flutter_mobx: ^2.0.6+5
  mobx: ^2.1.4
  shimmer: ^2.0.0
  auto_route: ^6.4.0




  #data
  injectable: ^2.1.1
  freezed_annotation:
  json_annotation: ^4.8.0
  firebase_core: ^2.10.0
  firebase_messaging: ^14.4.1
  drift: ^2.7.0
  package_info_plus: ^3.1.2
  url_launcher: any



  #network
  dio: ^5.1.1
  store_redirect: ^2.0.1






dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  freezed:
  injectable_generator: ^2.1.5
  mobx_codegen: ^2.2.0
  json_serializable:
  auto_route_generator: ^6.2.0
  change_app_package_name: ^1.1.0
  drift_dev: ^2.7.0
  flutter_lints: ^2.0.1
  flutter_launcher_icons: "^0.9.2"



  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.

flutter_icons:
  android: true
  ios: true
  image_path: "assets/images/png/appLogo1024.png"


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  assets:
    - assets/images/
    - assets/
    - assets/images/svg/
    - assets/images/png/
    - assets/Translations/



  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
