<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058221785825-id5c0afnp4atqjgmk6qulo0l7s8ud82v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058221785825-id5c0afnp4atqjgmk6qulo0l7s8ud82v</string>
	<key>API_KEY</key>
	<string>AIzaSyBNgBNDA2nsIoVFNYqLq1HrvcmGMOkp0bY</string>
	<key>GCM_SENDER_ID</key>
	<string>1058221785825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neww</string>
	<key>PROJECT_ID</key>
	<string>nans2023</string>
	<key>STORAGE_BUCKET</key>
	<string>nans2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058221785825:ios:ff2ef813dcb235fa156da0</string>
</dict>
</plist>